button {
  margin: 5px;
}

.holster {
  display: inline-block;
  padding: 20px;
}

.label {
  font-size: 10pt;
}

p {
  font-size: 12pt;
  font-weight: bold;
}

img {
  border-style: solid;
  border-color: #000;
  border-width: 2px;
  border-radius: 8px 25px;
}

input {
  width: 90%;
}